<li id="comment-<%=comment._id%>">
    <p>
        <% if((locals.user) && (locals.user.id == comment.user.id)) {%>
            <small>
                <a class="delete-comment-button" href="/comments/destroy/<%= comment._id %>"> X </a>
            </small>
        <% } %>
        
        
        <div>
            <div>
                <%= comment.content %>
                <br>
                <small>
                    <%= comment.user.name %>
                </small>
            </div>
            <button href="" style="background:transparent;">
                <i class="fas fa-regular fa-heart"></i>
            </button>
        </div>
    </p>    
</li>
