<h1>
    Codieal / Home page
</h1>
<div>
    <button type="submit">
        <a href="/users/signUp">Sign Up</a>
    </button>

    <button type="submit">
        <a href="/users/signIn">Sign In</a>
    </button>
</div>

