<h1>
    Codieal / Home page
</h1>
<div>
    <form action="/users/create-session" method="post">
        <input type="email" name="email" placeholder="Email ID" required>
        <input type="password" name="password" placeholder="Password" required><br>

        <button type="submit">Sign In</button>
    </form>
</div>

<button type="submit">
    <a href="/users/signUp">Sign Up</a>
</button>