<link rel="stylesheet" href="/css/user_profile.css">
<h1>Codieal / User Profile page </h1>
<a href="">Home</a>
<div>
    <p>name : <%= userData.name %> </p>
    <p>email : <%= userData.email %> </p>
</div>