header
{
    overflow: hidden;
    background-color: royalblue;
    padding: 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: 10%;
    div
    {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 0.1;
        display: inline;
        margin: 0;
        padding: 0 2px;
        ul
        {
            li
            {
                display: inline-block;
                list-style: none;
                a
                {
                    color: white;
                    text-decoration: none;
                }
                a:hover
                {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}